<h1>Your Projects</h1>

<ul>
  <% @projects.each do |project| %>
    <li>
      <strong><%= link_to project.name, project_path(project) %></strong> <br>
      Status: <%= project.status.humanize %> <br>
      Created: <%= project.created_at.strftime("%b %d %y") %>
    </li>
  <% end %>
</ul>